<h2>Agregar nueva consultorio</h2>
<%= render 'form', consulting_rooms: @consulting_room %>
<center><%= link_to 'Listas de consultorios', administration_consulting_rooms_path, class: "btn btn-primary" %>
</center>


