<h3>LANDING</h3>

<h3>PAGINA INICIAL QUE CONTENDRA LA INFO</h3>
<br>
<center>
<p> Url para administracion <br>	
<strong> http://localhost:3000/users/sign_in </strong></p>
<br>
  <strong> http://localhost:3000/administration/doctors</strong></p>
<br><br><p> Url para doctor <br>	
<strong> http://localhost:3000/user_doctors/sign_in </strong></p>
</center>