<!DOCTYPE html>
<html>
  <head>
    <title>Sanatorio</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'landig', media: 'all' %>
    <%= javascript_include_tag 'landig', media: 'all' %>

    <title>Sanatorio</title>

  </head>
  <body>



  	<h3>LANDING</h3>

<h3>PAGINA INICIAL QUE CONTENDRA LA INFO</h3>
<br>
<center>
<p> Url para administracion <br>	
<strong> http://localhost:3000/administration </strong></p>
<br><br><p> Url para doctor <br>	
<strong> http://localhost:3000/user_doctors/sign_in </strong></p>
</center>

</div>
       <%= yield %>
      </div>
    </div>
  </body>
</html>
