<h2>Agregar nueva especialidad</h2>
<%= render 'form', specialty: @specialty %>
<center><%= link_to 'Listas de especialidades', administration_specialties_path, class: "btn btn-primary" %>
</center>


