<center><h1>Editing Patient</h1>
<%= render 'form', patient: @patient %>
<br>
<%= link_to 'Ver', administration_patient_path(@patient) %> |
<%= link_to 'Volver', 'javascript:history.back()' %>
</center>