
<!-- BARRA DE OPCIONES DE LA PARTE SUPERIOR -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="http://localhost:3000/administration"> Inicio </a>
  
  <li class="nav-item">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pacientes</a>
    <div class="dropdown-menu">
           <a class="dropdown-item" href="http://localhost:3000/administration/patients">Listado</a>
      <a class="dropdown-item" href="http://localhost:3000/administration/patients/new">Nuevo </a> 
  </li>


   <li class="nav-item">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Doctor</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="http://localhost:3000/administration/doctors">Listado</a>
      <a class="dropdown-item" href="http://localhost:3000/administration/doctors/new">Nuevo </a>   
  </li>


    <li class="nav-item">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Turnos</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="http://localhost:3000/administration/appointments">Ver</a>
      <a class="dropdown-item" href="http://localhost:3000/administration/appointments/new">Nuevo </a>   
      <a class="dropdown-item" a href="http://localhost:3000/administration/pantalla" target="_blank">Abrir ventana de turnos</a>
  </li>


  <li class="nav-item">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cuentas</a>
    <div class="dropdown-menu">
      <a class="dropdown-item"  href="http://localhost:3000/users/edit">Editar/Eliminar</a>
</ul>
     </li>


   
    
