.carousel-wrapper {
	width: 50;
}

.container {
	margin-right: 0px; 
    margin-left: 0px;
    max-width: 100%;
}
.container-header {
	height: 150px;
}

.table-container {
	margin-right: 1px; 
	margin-left:  1px;
}


